iMONGO_URI=your-mongodb-uri-here
DB_NAME=hackathon-watchlistDB
GEMINI_API_KEY=your_gemini_api_key_here
OMDB_API_KEY=your_OMDB_api_key_here
this is an example as to not publish sensitive info publicly
